* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body,
html,
.wrap {
  width: 100%;
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  font-size: .32rem;
  background: #E9E9E9;
}

.wrap header {
  width: 100%;
  height: 3rem;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap header span {
  margin-left: 1rem;
  color: #9A999A;
}

.wrap header h4 {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.wrap main {
  flex: 1;
  width: 100%;
  height: 100%;
}

.wrap main .top {
  margin-top: 1rem;
  width: 100%;
  height: 10rem;
  background: #fff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.wrap main .top a {
  margin-left: 2rem;
}

.wrap main .top a img {
  width: 5rem;
  height: 5rem;
}

.wrap main .top span {
  margin-left: 1rem;
  font-size: 1.4rem;
}

.wrap main .list {
  width: 100%;
  height: auto;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.wrap main .list dl {
  flex: 1;
  display: flex;
  height: 4rem;
  align-items: center;
}

.wrap main .list dl dt {
  padding: 1rem;
}

.wrap main .list dl dt img {
  width: 2rem;
  height: 2rem;
}

.wrap main .list dl dd {
  flex: 1;
  height: 4rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrap main .list dl dd span {
  margin-left: 1rem;
  font-size: 1.4rem;
}

.wrap main .list dl dd b {
  margin-right: 1rem;
}

.wrap footer {
  width: 100%;
  height: 4rem;
  background: #313131;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap footer .left {
  margin-left: 1rem;
}

.wrap footer .left p:nth-child(1) {
  margin-bottom: .3rem;
  color: #fff;
  font-size: 1.3rem;
}

.wrap footer .left p:nth-child(2) {
  color: #606060;
  font-size: 1rem;
}

.wrap footer .right {
  margin-right: 1rem;
}

.wrap footer .right img {
  width: 2.5rem;
  height: 2.5rem;
}
